* {
  box-sizing: border-box;
}

@font-face {
  font-family: yekan;
  src: url("../public/Fonts/IRANYekanRegular.ttf");
  font-display: swap;
}

@font-face {
  font-family: yekanBold;
  src: url("../public/Fonts/IRANYekanExtraBlack.ttf");
  font-display: swap;
}

body {
  font-family: yekan;
  overflow-x: hidden;
  margin: 0;
  direction: rtl;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type="password"],
input[type="text"],
select:focus,
textarea {
  font-size: 16px;
}

.Toastify__toast {
  font-family: yekan !important;
}

a {
  text-decoration: none;
}

.login-form,
.data-table {
  padding: 30px;
  background: linear-gradient(45deg, #365eff, #fc6ebc);
  animation: changeColor 2s linear infinite alternate;
  border-radius: 20px;
}

.loader {
  position: relative;
  top: 50px;
}

.loader-circle {
  border-radius: 50%;
  animation: loader 1s alternate infinite;
  background: linear-gradient(45deg, #365eff, #fc6ebc);
}

.loader-circle:nth-child(2) {
  animation-delay: 0.3s;
}

.loader-circle:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes loader {
  from {
    transform: scaleX(1.25);
  }
  to {
    transform: translateY(-25px) scaleX(1);
    filter: hue-rotate(90deg);
  }
}

.sc-dmRaPn {
  border-radius: 0 !important;
}

@keyframes changeColor {
  to {
    filter: hue-rotate(90deg);
  }
}

.inputs {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.login-page {
  padding-top: 30vh;
  gap: 5%;
}

.inputs input {
  width: 30vw;
  padding: 10px;
  border-radius: 10px;
  font-family: yekan;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.inputs #image {
  width: 15vw;
}

.add-image {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.mt-100 {
  margin-top: 100px;
}

.dash-page .login-form {
  text-align: center;
}

.dash-page .login-form P {
  margin: 0;
  padding: 5px;
}

#prime-btn,
#add-btn {
  width: 100px;
  padding: 5px;
  margin-top: 50px;
  border-radius: 10px;
  font-family: yekan;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#add-btn {
  width: 300px;
  background: linear-gradient(45deg, #365eff, #fc6ebc);
  animation: changeColor 2s linear infinite alternate;
  color: white;
  padding: 10px 5px;
}

#prime-btn:hover,
#add-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar {
  padding: 20px 0;
  border-left: 1px solid #ededed;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}

.profile-info {
  padding: 0 50px;
}

.user-img {
  border-radius: 50px;
  border: 0.5px solid black;
  padding: 10px;
}

.nav-items {
  margin-top: 50px;
}

.nav-item {
  opacity: 0.6;
  justify-content: right;
  padding: 5px 10px;
  transition: 0.5s;
}

.nav-item:hover {
  opacity: 1;
}

.nav-item img {
  width: 25px;
  height: 25px;
}

#logout-color {
  color: red;
}

.dash-page #dash-item,
.profile-page #profile-item,
.users-page #users-item,
.orders-page #orders-item,
.branches-page #branches-item,
.products-page #products-item {
  opacity: 1;
  border-right: 4px solid #365eff;
}

#username {
  font-size: 18px;
}

.header {
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
  z-index: 2;
}

.header img {
  width: 80px;
}

.header p {
  font-size: 20px;
}

a {
  color: black;
}

#responsive {
  display: none;
  width: 50px;
}

.page-content {
  float: right;
}

.closebtn {
  float: right;
  font-size: 35px;
  color: black;
  margin-right: 40px;
}

.login-form img {
  margin-bottom: 30px;
  width: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.website-details {
  padding: 50px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.website-details .login-form {
  font-size: 1.5rem;
  color: white;
}

.pw-input {
  position: relative;
}

.pw-input img {
  width: 20px;
  position: absolute;
  top: 12px;
  left: 15px;
}

@media only screen and (max-width: 920px) {
  .inputs input,
  .inputs #image {
    width: 40vw;
  }

  .add-image {
    grid-template-columns: auto;
  }

  .login-page {
    flex-direction: column;
    gap: 50px;
    padding-top: 20vh;
  }
}

@media only screen and (max-width: 600px) {
  .inputs input,
  .inputs #image {
    width: 60vw;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    width: 0px;
    z-index: 3;
    overflow-y: hidden;
  }

  .profile-info {
    margin-top: 80px;
    padding: 0;
  }

  #responsive {
    display: block;
  }

  .grid-container {
    grid-template-columns: auto;
  }
}
